
h2{
  color: #4c5258;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}
.login-logo{
  width:auto;
  text-align: center;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;

}
