<!-- 
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">Perfil</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="#" (click)="$event.preventDefault()"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Perfil de usuario</li>
			</ol>
		</nav>
	</div>
</div>
<div class="container">
	<div class="main-body">
		<div class="row">
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center text-center mt-2">
							<img [src]="user?.foto" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
							<div class="mt-3">
								<h5>{{user?.nombres}} {{user?.papellido}}</h5>
								<p class="text-secondary mb-1">{{user?.cargo['nombre'] | titlecase}}</p>
								<p class="text-secondary mb-1">{{user?.dependencia['distrito_fiscal']['nombre']}}</p>
								<p class="text-muted font-size-sm">{{user?.dependencia['nombre'] | titlecase}}</p>
							</div>
						</div>
						<hr class="my-3" />
						<ul class="list-group list-group-flush">
							<li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
								<h6 class="mb-0"><svg xmlns="https://sistemas.mpfn.gob.pe" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe me-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg></h6>
								<span class="text-secondary">https://sistemas.mpfn.gob.pe</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="card">
					<div class="card-body">
						<div class="row mb-3">
							<div class="col-sm-4">
								<h6 class="mb-0 mt-2">Apellido paterno</h6>
							</div>
							<div class="col-sm-8 text-secondary mt-2">
								<input type="text" class="form-control" value="{{user?.papellido}}" />
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-4">
								<h6 class="mb-0">Apellido materno</h6>
							</div>
							<div class="col-sm-8 text-secondary">
								<input type="text" class="form-control" value="{{user?.sapellido}}" />
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-4">
								<h6 class="mb-0">Nombres</h6>
							</div>
							<div class="col-sm-8 text-secondary">
								<input type="text" class="form-control" value="{{user?.nombres}}" />
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-4">
								<h6 class="mb-0">Dni</h6>
							</div>
							<div class="col-sm-8 text-secondary">
								<input type="text" class="form-control" value="{{user?.numero_doc}}" />
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-4">
								<h6 class="mb-0">Correo institucional</h6>
							</div>
							<div class="col-sm-8 text-secondary">
								<input type="text" class="form-control" value="{{user?.correo_ins}}" />
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-sm-4">
								<h6 class="mb-0">Correo personal</h6>
							</div>
							<div class="col-sm-8 text-secondary">
								<input type="text" class="form-control" value="{{user?.correo}}" />
							</div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->