<div class="d-flex p-4 pb-1 app-page-title">
  <div>
    <div class="p-2 pt-0 pb-0 shadow-sm bg-white page-title-c-icon">
      <i class="bx bx-home-smile page-title-icon"></i>
    </div>
  </div>
  <div class="ps-3">
    <h4 class="text-primary mb-0">Dashboard Sistema de Alertas</h4>
    <p class="text-secondary">Indicadores a tiempo real</p>
  </div>
</div>

<div class="row p-3">
  <div class="col-sm-1">
    <div class="form-group">
      <label class="form-label">Periodo Inicio</label>
      <input [(ngModel)]="parametro.fecha_inicio" class="form-control form-control-sm" type="date" />
    </div>
  </div>
  <div class="col-sm-1">
    <div class="form-group">
      <label class="form-label">Periodo Fin</label>
      <input [(ngModel)]="parametro.fecha_fin" class="form-control form-control-sm" type="date" />
    </div>
  </div>
  <div class="col-sm-1">
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-sm" (click)="buscaIndicadores();">Consultar</button>
    </div>
  </div>
</div>

<div class="row p-3">
  <div class="col-6">
    <highcharts-chart 
      [Highcharts] = "highCharts" 
      [options] = "chartAlertasAnioOptions"
      [oneToOne]="true"
      [(update)]="updateAlertaAnio">
    </highcharts-chart>
  </div>
  <div class="col-6">
    <highcharts-chart 
      [Highcharts] = "highCharts" 
      [options] = "chartAlertasPeriodoOptions"
      [oneToOne]="true"
      [(update)]="updateAlertaPeriodo">
    </highcharts-chart>
  </div>
</div>
<div class="row p-3">
  <div class="col-6">
    <highcharts-chart 
      [Highcharts] = "highCharts" 
      [options] = "chartDistritoAnioOptions"
      [oneToOne]="true"
      [(update)]="updateDistritoAnio">
    </highcharts-chart>
  </div>
  <div class="col-6">
    <highcharts-chart 
      [Highcharts] = "highCharts" 
      [options] = "chartDistritoPeriodoOptions"
      [oneToOne]="true"
      [(update)]="updateDistritoPeriodo">
    </highcharts-chart>
  </div>
</div>
<div class="row p-3">
  <div class="col-6">
    <highcharts-chart 
      [Highcharts] = "highCharts" 
      [options] = "chartVictimaAnioOptions"
      [oneToOne]="true"
      [(update)]="updateVictimeAnio">
    </highcharts-chart>
  </div>
  <div class="col-6">
    <highcharts-chart 
      [Highcharts] = "highCharts" 
      [options] = "chartVictimaPeriodoOptions"
      [oneToOne]="true"
      [(update)]="updateVictimePeriodo">
    </highcharts-chart>
  </div>
</div>
<div class="row p-3">
  <div class="col-6">
    <highcharts-chart 
      [Highcharts] = "highCharts" 
      [options] = "chartVictimaDistritoAnioOptions"
      [oneToOne]="true"
      [(update)]="updateVictimaDistritoAnio">
    </highcharts-chart>
  </div>
  <div class="col-6">
    <highcharts-chart 
      [Highcharts] = "highCharts" 
      [options] = "chartVictimaDistritoPeriodoOptions"
      [oneToOne]="true"
      [(update)]="updateVictimaDistritoPeriodo">
    </highcharts-chart>
  </div>
</div>
