<div class="d-flex p-4 pb-1 app-page-title">
    <div>
        <div class="p-2 pt-0 pb-0 shadow-sm bg-white page-title-c-icon">
            <i class="bx bx-home-smile page-title-icon"></i>
        </div>
    </div>
    <div class="ps-3">
        <h4 class="text-primary mb-0">Registro de ficha RECA.</h4>
        <p class="text-secondary">Lista de alertas agrupadas por Agraviado e Imputado.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col-sm-1">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm">Guardar</button>
        </div>
    </div>
</div>

<div class="container pt-3">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button">
                        SECCION I: GENERALIDADES
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.1 Distrito fiscal</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.2 UDAVIT y UAIVIT</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.3 N de Ficha</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.4 Año/mes/dia</label>
                                <input type="date" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.5 Victima ¿beneficiaria del programa?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Fecha incorporacion</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>Carpeta de asistencia</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.6 Equipo a cargo - Abogado</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.6 Equipo a cargo - Trabajadora social</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.6 Equipo a cargo - Psicologo</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.7 ¿Se tomo conocimiento del hecho?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.7.1 Nombre del medio</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>1.7.2 Fecha de publicacion en el medio</label>
                                <input type="date" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        SECCION II: DATOS DE LA VICTIMA
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.1 Nombres y apellidos</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.2 Nacionalidad</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.3.1 Tipo de documento</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.3.2 Numero de documento</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.4 Lugar de nacimiento</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.5 Fecha de nacimiento</label>
                                <input type="date" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.6.1 Telefono fijo</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.6.2 Telefono celular</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.7 Correo electronico</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.8 Domicilio</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.9 Idioma o lengua materna</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.10 Etnia o grupo</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.11 Total de hijos</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.12 ¿Esta gestando?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.12.1 Numero de meses</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.13 Estado civil</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.14 Nivel educativo</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.15 ¿Cuenta con trabajo remunerado?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.15.1 Ocupacion</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.15.2 Centro de trabajo</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.15.3 ¿Monto de la remuneracion?</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.16 ¿Presenta discapacidad?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.16.1 Tipo de discapacidad</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.17 ¿Acceso a sistema de salud?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.17.1 Precise</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>2.18 Relacion de la victima con la persona agresora</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        SECCION III: DATOS DE LA VICTIMA DEPENDIENTE 1
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.1 Nombres y apellidos</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.2 Nacionalidad</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.3.1 Tipo de documento</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.3.2 Numero de documento</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.4 Edad (en años cumplidos)</label>
                                <input type="number" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.5 Domicilio</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.6 Nivel educativo</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.7 ¿Estudia actualmente?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.7.1 Tipo de institucion</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.7.2 Centro de estudios</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.7.3 Año que cursa</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.8 ¿Cuenta con trabajo remunerado?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.8.1 Precisa la ocupacion</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.8.2 Centro de trabajo</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.9 ¿La victima presenta alguna discapacidad?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.9.1 Tipo de discapacidad</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.10 Vinculo de la victima dependiente con la victima directa</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        SECCION III: DATOS DE LA VICTIMA DEPENDIENTE 2
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.1 Nombres y apellidos</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.2 Nacionalidad</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.3.1 Tipo de documento</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.3.2 Numero de documento</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.4 Edad (en años cumplidos)</label>
                                <input type="number" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.5 Domicilio</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.6 Nivel educativo</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.7 ¿Estudia actualmente?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.7.1 Tipo de institucion</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.7.2 Centro de estudios</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.7.3 Año que cursa</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.8 ¿Cuenta con trabajo remunerado?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.8.1 Precisa la ocupacion</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.8.2 Centro de trabajo</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.9 ¿La victima presenta alguna discapacidad?</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.9.1 Tipo de discapacidad</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>3.10 Vinculo de la victima dependiente con la victima directa</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        SECCION IV: DATOS DE LA PERSONA AGRESORA
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>4.1 Nombres y apellidos</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>4.2 Nacionalidad</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>4.3.1 Tipo de documento</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>4.3.2 Numero de documento</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>4.4 Lugar de nacimiento</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>4.5 Edad (en años cumplidos)</label>
                                <input type="number" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>4.6 Domicilio</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>4.7 Nivel educativo</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>4.9 Situacion de la persona agresora</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>4.9.1 Numero de años</label>
                                <input type="number" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label>4.9.2 Numero de meses</label>
                                <input type="number" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>4.9.3 Establecimiento penitenciario</label>
                                <input type="number" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        SECCION V: LA CARPETA FISCAL Y EL EXPEDIENTE JUDICIAL
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.1 Fecha de la ocurrencia de los hechos</label>
                                <input type="date" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.2 Lugar de la ocurrencia</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.3 Direccion de la ocurrencia</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.4 Presuntos moviles</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.5 Breve resumen de los hechos</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        SECCION V: LA CARPETA FISCAL
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.6 Numero de carpeta fiscal</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.7 Fiscalia</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.8 Fiscal responsable</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.9 Delito</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.9.1 Precisar</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.10 Estado procesal del caso</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.10.1 Precisar</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        EXPEDIENTE JUDICIAL - PPROCESO ESPECIAL (ANTE JUZGADO DE FAMILIA)
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.11 Numero de expediente</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.12 Juzgado de familia</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.13 Nombre del juez de familia responsable</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.14 Medidas de proteccion dictadas</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>5.15 Tipo de violencia</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        SECCION VI: LA ASISTENCIA BRINDADA
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>6.1 Numero de asistencias brindadas</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>6.2 Numero de informes multidiciplinarios</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>6.3 Asistencia legal</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="row pb-3">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>6.4 Asistencia psicologica</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>6.5 Asistencia social</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>6.6 Identificacion de los factores de riesgo</label>
                                <select class="form-control form-control-sm">
                                    <option>Small select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container pt-3">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Collapsible Group Item #1
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div> -->
