<div class="row" style="margin-top: 15px;">
	<div class="col-sm-7 col-12 d-flex">
		<div style="padding-top: 4px; padding-right: 4px;">
			<span style="font-size: 13px;">Filas por página: </span>
		</div>
		<select class="form-select form-select-sm mb-3" style="width: 100px;" [(ngModel)]="pagination.page_size" (ngModelChange)="onPageSizeChange($event)">
			<option *ngFor="let p of list_page_size; let i = index" [value]="p">{{p}}</option>
		</select>
		<div style="padding-top: 4px; padding-left: 6px;">
			<span style="font-size: 13px;">Del {{pagination.from}} al {{pagination.to}} de {{pagination.total}} registros</span>
		</div>
	</div>
	<div class="col-sm-5 col-12 d-flex justify-content-end">
		<ngb-pagination 
		[collectionSize]="pagination.total" 
		[(page)]="pagination.current_page" 
		[maxSize]="max_size" [boundaryLinks]="true"
		[pageSize]="pagination.page_size"
		 (pageChange)="onPageChange($event)" size="sm" [rotate]="true">
		 	<ng-template ngbPaginationFirst>
		 		<i class="fa fa-step-backward" aria-hidden="true" title="Primera"></i>
		 	</ng-template>
		 	<ng-template ngbPaginationPrevious>
		 		<i class="fa fa-chevron-left" aria-hidden="true"></i>
		 	</ng-template>
  			<ng-template ngbPaginationNext>
  				<i class="fa fa-chevron-right" aria-hidden="true"></i>
  			</ng-template>
		 	<ng-template ngbPaginationLast>
		 		<i class="fa fa-step-forward" aria-hidden="true"  title="Última"></i>
		 	</ng-template>
		 </ngb-pagination>
	</div>
</div>