.modal-dialog {
  max-width: 1300px;
  height: auto;

}

.modal-body {
  overflow: scroll;
  width: 1300px;

}

.modal-body-detalle {
  overflow: scroll;

}

.center {
  text-align: center;
}

.estado-pendiente {
  background-color: #FDEBD0;
}

.estado-accion {
  background-color: #FEF9E7;
}

.estado-medida {
  background-color: #EAFAF1;
}
