<div class="container">
	<div class="row">
	<div class="col-12 d-flex justify-content-center">
	<div class="card py-5 mt-5 pt-0" style="width: 450px;">
		<div class="row g-0">
			<div class="col col-12">
				<img src="assets/images/mpfn.png" class="card-img-top bg-mpfn px-5 p-3">
				<div class="card-body p-4 text-center">
					<h4 class="mb-3 text-primary"><i class="bx bx-error"></i> <span class="ms-2">Página no encontrada</span></h4>
					<h1 class="text-primary">404</h1>
					<p>Lo sentimos la página no ha sido encontrada, verifique el acceso a opciones correctamente.</p>
					<div class="mt-5"> 
						<a href="#" (click)="goBack()" class="btn btn-outline-dark px-md-5 radius-30"><i class="bx bx-left-arrow-alt"></i> Atrás</a>
						<a href="#" (click)="irRouter('/')" class="btn btn-primary px-md-4 radius-30 ms-3"><i class="bx bx-home"></i> Ir a principal</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
</div>
