
.is-dupli{
	background: #f3d4d4;
    animation-name: is-dupli-base;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes is-dupli-base {
    0% {
    }
    30% {
        background-image: linear-gradient(to left,  #fbd5d3, #fbd5d3, #F78181);
        text-decoration: line-through;
    }
    80% {
    }
    100% {
    }
  }