.order{
	float: right;
    margin-left: 0px;
    margin-right: -2px;
    margin-top: 0px;
    margin-bottom: -3px;
    color: #9E9E9E;
    cursor: pointer;
    font-size:15px;
}

.orders{
    color: #526dff;
}

.order:hover{
	color: black;
}